<div class="row">
    <footer>
        <p>Ezequiel Matías Dandeu | © Argentina Programa 2022</p>
        <p>Santo Tomé, Santa Fe - Argentina</p>
        <p><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Contacto
          </button></p>
    </footer>

</div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-secondary bg-gradient text-white">
          <h5 class=" modal-title " id="exampleModalLabel">Contacto</h5>
        </div>
        <div class="modal-body ">
            
                <img src="../../../assets/images/Contacto.jpg" class="card-img-top" alt="...">
                <div class="card-body bg-secondary bg-gradient text-white">
                  <p class="card-text"> <img  class="img-styles" src="../../../assets/images/email.png"> ezepela@hotmail.com</p>
                  <p class="card-text"><img  class="img-styles" src="../../../assets/images/whatsapp.png">0999-999999999</p>
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <!-- <button type="button" class="btn btn-primary">Guardar cambios</button> -->
        </div>
      </div>
    </div>
