<section class="vh-100 gradient-custom">
    <div class="container card bg-dark text-white" style="border-radius: 1rem" *ngIf="circleprogress">
      <div class="row">
        <div>
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
              <label for="porcentaje1">Editar porcentaje</label>
              <input
                type="text"
                class="form-control"
                id="porcentaje1"
                name="porcentaje1"
                [(ngModel)]="circleprogress.porcentaje1"
                required
              />
            </div>
            <button class="btn btn-secondary">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
    </section>