<div class="row">
    <div class="container">

        <div class="dig logo">
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="../../../assets/images/APLogo.png" id="logoAP" alt="Ar Prog"></a>
        </div>

        <div class="redes">
            <a href="https://www.facebook.com/eze.dandeu" target="_blank"><img src="../../../assets/images/facebook.png" id="facebook"  alt="Facebook"></a>
            <a href="https://github.com/EzeMatDan" target="_blank"><img src="../../../assets/images/github.png" id="github" alt="github"></a>
            <a href="https://instagram.com/eze_dandeu?igshid=YmMyMTA2M2Y" target="_blank"><img src="../../../assets/images/instagram.png" id="instagram" alt="Instagram"></a>


            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingreso</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesion</button>
        </div>
        
    </div>
</div>
